<div class="row">
    <div class="col-8">
        <h1>Spreedly Airlines   <ion-icon name="airplane"></ion-icon></h1>
        <h4 class="font-italic">You're not going anywhere.</h4>
    </div>
    <div class="col-4">
        <%= link_to 'Processed Transactions', transactions_path , class: "btn btn-outline-dark" %>  
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Destination</th>
            <th scope="col">Origin</th>
            <th scope="col">Price</th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        <% @flights.each do |flight| %>
            <tr>
                <th scope="row"><%= flight.destination %></th>
                <td><%= flight.origin %></td>
                <td>$<%= (flight.price)/100 %></td>
                <td><%= link_to 'Buy This', {:controller=> "transactions", :action=> "new", :flight_id=> flight.id}, class: "btn btn-primary" %></td>
            </tr>
        <% end %>
    </tbody>
</table>


<script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>