

<h2>Flight to <%= @flight.destination %></h2>

<%= form_for @transaction do |f| %>
    <div class="form-group"> 
        <%= f.label "Ticket Quantity" %>
        <%= f.select( :quantity, (1..8), {}, {:class => 'form-control', :onchange => 'calculateTotal()'}) %>
    </div>
    <div class="bg-primary text-white p-3 rounded font-weight-light">
        Total price: <div id="total">$<%= (@flight.price)/100 %></div>
    </div>
    <br>
    <h4>Buyer Information</h4>
    <div class="form-group"> 
        <%= f.label "Email address" %>
        <%= f.text_field :email, :class => 'form-control', :placeholder => 'name@example.com'%>
    </div>
    <div class="form-check">
        <%= f.check_box :save_card, {} %> 
        <%= f.label "Save my card for future purchases" %> 
    </div>
        <div class="form-check">
        <%= f.check_box :expedia, {} %> 
        <%= f.label "Purchase with Expedia" %> 
    </div>
    <%= f.hidden_field :token %>
    <%= f.hidden_field :amount, :value => @flight.price %>
    <%= f.hidden_field :flight_id, :value => @id %> 
<% end %>

<button type="button" class="btn btn-outline-primary" onmouseover= "spreedlyInit()" onClick="SpreedlyExpress.openView()">Payment Info</button>

<script>
    function spreedlyInit(){
    SpreedlyExpress.init("Kd2fgjLosIVg7XxEktH7lnLU3YH", {
        "amount": document.getElementById('total').innerHTML,
        "company_name": "Spreedly Airlines",
        "sidebar_top_description": "You're not going anywhere.",
        "sidebar_bottom_description": "Total price",
        "name_label": "Cardholder Name"
        }, {
        "email": document.getElementById('transaction_email').value
        }
    );
  
    
    SpreedlyExpress.onPaymentMethod(function(token, paymentMethod) {
        // Send requisite payment method info to backend
        var tokenField = document.getElementById("transaction_token");
        tokenField.setAttribute("value", token);

        var masterForm = document.getElementById('new_transaction');
        masterForm.submit();
    });
    }
</script>

<script>
    function calculateTotal(){
        var qty = document.getElementById('transaction_quantity').value;
        var tot= <%= @flight.price %> * qty;
        var setAmount = document.getElementById('transaction_amount');
        setAmount.setAttribute("value", tot);
        document.getElementById('total').innerHTML = "$"+tot/100;
    }
</script>

<script src="https://core.spreedly.com/iframe/express-2.min.js" ></script>